<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>000000</key>
	<string>正常返回</string>
	<key>111111</key>
	<string>未知错误</string>
	<key>000001</key>
	<string>用户不存在或已禁用</string>
	<key>000002</key>
	<string>用户登录密码错误</string>
	<key>000003</key>
	<string>手机号不合法</string>
	<key>000004</key>
	<string>邮箱不合法</string>
	<key>000005</key>
	<string>验证码错误</string>
	<key>000006</key>
	<string>用户名长度不合法</string>
	<key>000007</key>
	<string>用户名禁止注册</string>
	<key>000008</key>
	<string>用户名被占用</string>
	<key>000009</key>
	<string>密码长度不合法</string>
	<key>000010</key>
	<string>邮箱格式不正确</string>
	<key>000011</key>
	<string>邮箱长度不合法</string>
	<key>000012</key>
	<string>邮箱禁止注册</string>
	<key>000013</key>
	<string>邮箱被占用</string>
	<key>000014</key>
	<string>手机格式不正确</string>
	<key>000015</key>
	<string>手机禁止注册</string>
	<key>000016</key>
	<string>手机号被占用</string>
	<key>000017</key>
	<string>用户ID不能为空</string>
	<key>000018</key>
	<string>昵称长度不合法</string>
	<key>000019</key>
	<string>姓名长度不合法</string>
	<key>000020</key>
	<string>性别不合法</string>
	<key>000021</key>
	<string>收件人不合法</string>
	<key>000022</key>
	<string>省市区不合法</string>
	<key>000023</key>
	<string>详细地址不合法</string>
	<key>000024</key>
	<string>账户余额不足</string>
	<key>000025</key>
	<string>商品不存在或已下架</string>
	<key>000026</key>
	<string>请登录后操作</string>
	<key>000027</key>
	<string>非法参数</string>
	<key>000028</key>
	<string>数据非法或不存在</string>
	<key>000029</key>
	<string>新密码不能与原密码相同</string>
	<key>000030</key>
	<string>密码错误</string>
	<key>000031</key>
	<string>余额不足</string>
	<key>000032</key>
	<string>短信发送量超过每日限额</string>
	<key>000033</key>
	<string>短信发送间隔时间未满</string>
	<key>000034</key>
	<string>短信发送失败</string>
	<key>000100</key>
	<string>清空失败</string>
	<key>000101</key>
	<string>清单内没有待支付的商品</string>
	<key>000102</key>
	<string>福利抢宝创建失败</string>
	<key>000103</key>
	<string>订单支付创建失败</string>
	<key>000104</key>
	<string>无效的口令</string>
	<key>000105</key>
	<string>口令输入超过三次，三小时内无法输入</string>
	<key>000106</key>
	<string>口令有误</string>
	<key>000107</key>
	<string>宝贝不存在</string>
	<key>000110</key>
	<string>口令输入错误1次，剩余2次机会</string>
	<key>000111</key>
	<string>口令输入错误2次，剩余1次机会</string>
	<key>000112</key>
	<string>口令输入错误3次，3小时内无法输入</string>
</dict>
</plist>
